// Импорт элементов для css3
@import "fonts.less";
@import "reset.less";
@import "lessmix.less";
@import "image.less";

// Описание переменных
@bg_block:      #f2f2f2;
@color_serene:  #d22856;
@color:         #000;
@color_text:    #283645;
@dir:           '../img';
@dirfont:       '../font';
@bold:          OpenSansBold;
@light:         OpenSansLight;
@regular:       OpenSansRegular;
@ptsbold:       PTSansBold;
@italic:        OpenSansItalic;

// Обычное использование

*{
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("/assets/templates/js/boxsizing.htc");
}

label, button{
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

body{
  font-weight: 100;
  .center;
  font-family: @regular;
  font-size: 14px;
  min-width: 320px;

}

h1, h2 {
  font-weight: 100;
  font-family: @light;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-weight: 100;
  font-family: @bold;
  font-size: 18px;
  text-align: center;
}

.clearfix::after {
  content: '';
  display: table;
  height: 1px;
  clear: both;
}

.hide-desktop {
  .hide;
}

.hide-mobile {
  .hide;
}

.hide-tablet {
  .hide;
}

.wrapper {
  .center;
  width: 87.5%;
}

.page-header  {
  margin-bottom: 50px;
  position: relative;
  height: 729px;
  .img-retina('@{dir}/background-mobile@1x.jpg';'@{dir}/background-mobile@2x.jpg';'@{dir}/background-mobile@3x.jpg'; auto; 100%);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  &--fix {
    height: 230px;
  }

  &-menu {
    background: rgba(0, 0, 0, 0.3); //Прозрачный фон
    height: 65px;
    margin-bottom: 21px;

    &__logo {

      &-link {
        display: block;
        fill: #fff;

        &:hover {
          fill: @color_serene;
        }

        &:active {
          .opacity(0.3);
        }
    }

      &-tablet {
        .hide;
      }

      &-desktop {
        .hide;
      }

      &-wrap {
        padding-top: 20px;
        position: absolute;
        z-index: 3;
        float: left;
      }
    }

    &__nav-wrap {
      padding-top: 20px;
      float: right;
    }

    &__open-link {
      display: block;
      width: 100%;
      height: 100%;
      fill: #fff;

      &:hover {
        fill: @color_serene;
      }

      &:active {
        fill: @color_serene;
        .opacity(0.3);
      }
    }

      &__open-btn {
        display: block;

        &-link {
          display: block;
          width: 100%;
          height: 100%;
          fill: #fff;
        }
    }

    &__popup {
      min-width: 100%;
      top: 0;
      z-index: 2;
      background-color: #283645;
      position: absolute;
      .hide;

        &-close {
        display: block;
        margin-left: 90%;
        margin-top: 20px;
        height: 45px;
        fill: #fff;

        &:hover {
          fill: @color_serene;
        }

        &:active {
          .opacity(0.3);
        }
      }
    }
  }
  &__bg {
    &-mobile {
      display: block;
    }

    &-tablet {
      .hide;
    }
  }

  &__title {
    display: block;
    color: #fff;
    line-height: 1.3;
    padding-bottom: 25px;
    &--size {
      padding-bottom: 28px+25px;
    }
  }
  .title-br {
    display: none;
  }

  &-download {
    background-color: #1d2631;
    padding-top: 27px;
    padding-bottom: 35px;
    margin-bottom: 45px;

    &__btn {
      .rounded(30px);
      .center;
      .size(280px, 100%);
      text-align: center;
      display: block;
      border: 3px solid #fff;
      margin-bottom: 20px;

      &:hover {
        background-color: #fff;
      }

      &-link {
        padding-top: 12px;
        padding-bottom: 12px;
        display: inline-block;
        .size(280px, 100%);
        font-family: @bold;
        font-size: 18px;
        text-decoration: none;
        color: #fff;

        &:hover {
          color: @color_serene;
        }

        &:active {
          .opacity(0.3);
        }
      }
    }
    &__list {
      margin-bottom: 20px;
      text-align: center;
    }

    &__item {
      padding-right: 35px;
      .inline-block();

      &:last-child {
        padding-right: 0;
      }
    }

    &__description {
      line-height: 1.8;
      color: #fff;
      text-align: center;
    }
  }
}

.main-nav {
  font-family: @bold;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;

  &__item {
    border-top: 1px solid #000;
    box-shadow: 0px 1px 0px #485562 inset;
    text-align: center;
    border-top: 1px solid #000;
    height: 65px;
    line-height: 1.6;

    &-link {
    padding-top: 19px;
    .size(100%, 100%);
    .inline-block();
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

      &:hover {
        color: @color_serene;
      }

      &:active {
        .opacity(0.3);
      }
    }
  }
}

.page-main {
  margin-bottom: 50px;

  &-post {
    &__header {
      line-height: 1.3;
      margin-bottom: 110px;


      & span {
        display: block;
        padding-top: 25px;
      }
    }

    &__item {
      margin-bottom: 40px;
    }

    &__container {
      position: relative;
      margin-bottom: 50px;
      background-color: @bg_block;

      &:before {
        content: '';
        position: absolute;
        top: -60px;
        width: 105%;
        height: 150px;
        background: @bg_block;
        -webkit-transform: rotate(-5.6deg);
        -ms-transform: rotate(-5.6deg);
        transform: rotate(-5.6deg);
        z-index: -1;
      }
    }

    &__title {
      padding-bottom: 20px;
    }

    &__description {
      text-align: center;
      line-height: 1.8;
    }

    &__case {
      padding-top: 15px;
      position: relative;
      display: block;
      .center;
      width: 157px;
      height: 278px;
      .img-retina('@{dir}/iphone-case-mobile@1x.png';'@{dir}/iphone-case-mobile@2x.png';'@{dir}/iphone-case-mobile@3x.png'; auto; 100%);
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      overflow: hidden;

      &-img {
        margin-top: 20px;
        display: block;
        .center;

        &-img-tablet {
          display: none;
        }
      }

      &-tablet {
        .hide;
      }
      &-desktop {
        .hide;
      }
    }
  }

  &-effect {
    margin-bottom: 80px;
    display: block;
    height: 305px;

    &__header {
      width: 320px;
      display: block;
      float: right;

      &-title {
        font-family: @bold;
        font-size: 30px;
        text-align: left;
      }

      &-text {
        text-align: left;

        & a {
          display: block;
          padding-top: 20px;
          color: @color_serene;
        }
      }
    }

    &__img{
      float: left;
      display: block;

      &-text {
        line-height: 1.6;
        top: 74px;
        left: 31px;
        text-align: center;
        display: block;
        width: 200px;
        height: 200px;
        border: 10px solid @color_serene;
        .rounded(100%);
        font-family: OpenSansBold;
        font-size: 104.6px;
        position: absolute;
        color: @color_serene;
      }
    }
    &__wrap {
      display: block;
      width: 305px;
      position: relative;
    }
  }
  &-effect {
    .hide;
  }


  &-slider-reviews {
    margin-bottom: 50px;
    padding-bottom: 40px;
    &__item {
      & span {
        .hide;
      }
    }
    &__header {

      &--tablet {
        .hide;
      }
    }

    &__text {
      text-align: center;
      padding-bottom: 40px;
      line-height: 1.8;
    }

    &__controls {
      text-align: center;
    }

    &__control {
      margin-right: 20px;
      .size(11px, 11px);
      display: inline-block;
      .rounded(100%);
      cursor: pointer;
      background-color: #b5b9be;
      border: 3px solid #fff;

      &--active {
        .size(11px, 11px);
        background-color: #fff;
        border: 3px solid #283645;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-price {
    padding-bottom: 10px;
    position: relative;
    margin-top: 20px;
    padding-top: 30px;
    background-color: @bg_block;

    &:before {
      content: '';
      position: absolute;
      top: -60px;
      width: 105%;
      height: 300px;
      background: @bg_block;
      -webkit-transform: rotate(-5.6deg);
      -ms-transform: rotate(-5.6deg);
      transform: rotate(-5.6deg);
      z-index: -1;
    }

    &__table {
      overflow: hidden;
      margin-bottom: 40px;
      .center;
      border-collapse: collapse;
      background-color: #fff;
      text-transform: uppercase;

      &-header {
        width: 280px;
      }

      &-title {
        position: relative;
        border-left: 2px solid @bg_block;
        border-right: 2px solid @bg_block;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
        font-family: @bold;
        font-size: 18px;
        background-color: #283645;
        line-height: 1.5;

        span {
          display: block;
          font-family: @light;
          font-size: 24px;
        }
      }

      &-col {
        position: relative;
        padding: 20px 0 20px 20px;
        border-left: 2px solid @bg_block;
        border-bottom: 2px solid @bg_block;

        &-null {
          .hide;
        }

        &--tablet {
          .hide;
        }

       &-yes {
          top: 12px;
          right: 23px;
          position: absolute;
          background: url("@{dir}/yes.svg") no-repeat;
          fill: #3dc644;
          .size(29px, 22px);
        }

        &-no {
          top: 12px;
          right: 23px;
          position: absolute;
          background: url("@{dir}/no.png") no-repeat;
          .size(26px, 26px);
        }
      }
    }

    &__img {
      .size(74px, 73px);
      top: 0;
      left: 0;
      background: url("@{dir}/table_hit.png");
      position: absolute;
    }

    &__controls {
      margin-bottom: 50px;
      text-align: center;
    }

    &__control {
      margin-right: 15px;
      .size(11px, 11px);
      display: inline-block;
      .rounded(100%);
      background-color: #b5b9be;
      border: 3px solid @bg_block;
      cursor: pointer;

      &--active {
        .size(11px, 11px);
        border: 3px solid #283645;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.page-form {
  margin-top: 55px;
  margin-bottom: 60px;

  &-history {
    margin-bottom: 42px;

    &__header {
      font-weight: 100;
      color: @color_text;
      text-align: center;
      line-height: 2;
    }

    &__form {
      margin-top: 20px;

      &-title {
        padding-left: 25px;
        display: block;
        color: @color_serene;
        text-transform: uppercase;
      }

      &-field {
        color: @color_text;
        padding-left: 25px;
        padding-right: 25px;
        border: 2px solid #e5e5e5;
        margin-top: 15px;
        margin-bottom: 30px;
        .size(100%, 60px);
      }

      & [type="text"] {
        display:block;
        color: @color_text;
        font-size:18px;
      }

      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    @color_text;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    @color_text;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    @color_text;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    @color_text;
      }
    }
  }

  &-apptravel {
    padding-top: 42px;
    background-color: @bg_block;
    margin-bottom: 55px;

     & fieldset {
       padding-top: 42px;
     }

    legend {
      position: relative;
      text-align: center;
    }

    &__header {
      text-align: center;
      font-weight: 100;
      font-size: 14px;
      font-family: @regular;
      text-transform: uppercase;
      color: @color_serene;
      margin-bottom: 10px;
    }

    &__radio {
      display: block;

      &-label {
        color: @color_text;
        font-family: @regular;
        font-size: 18px;
      }

      &-item {
        margin-bottom: 21px;
        .opacity(0);
        //display: none;
      }

      &-item:not(checkbox) +  &-label {
        position: relative; /* будем позиционировать псевдочекбокс относительно label */
        padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
      }

      &-item:not(checkbox) + &-label:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        .size(35px, 35px);
        .rounded (50%);
        background: #fff;
        border: 2px solid #e5e5e5;
      }

      &-item:checked + &-label:after {
        content: '';
        position: absolute;
        top: 7.7px;
        left: 12.2px;
        .size(15px, 15px);
        border-radius: 50%;
        background: @color_serene;
        .transition-all(.2s);
      }

      &-wrap {
        padding-bottom: 35px;
        display: block;
      }

      //&-item:focus + &-label:before {
      //  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
      //}
    }
  }

  &-travel {
    margin-bottom: 50px;

      &__title {
      font-weight: 100;
      font-family: @regular;
      font-size: 14px;
      text-transform: uppercase;
      color: @color_serene;
      margin-bottom: 25px;
    }

    &__title:first-child {
      margin-bottom: 45px;
    }

    &__form {

      &-field {
        color: @color_text;
        padding-left: 25px;
        padding-right: 25px;
        float: left;
        .size(100%, 60px);
        border: 2px solid #e5e5e5;
        margin-bottom: 15px;

        &--modern {
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          width: 160px;
          border-right: none;
          border-left: none;
        }
      }

      & [type="text"] {
        display:block;
        font-size:18px;
      }
      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    @color_text;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    @color_text;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    @color_text;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    @color_text;
      }
      &-btn {
        color: @color_text;
        float: left;
        .size(60px, 60px);
        line-height: 1;
        padding: 0;
        font-size: 50px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
      }
    }
  }

  &-people {
    padding-bottom: 45px;
    background-color: @bg_block;
    padding-top: 40px;
    margin-bottom: 45px;

    &__title {
      font-family: @regular;
      font-weight: 100;
      font-size: 14px;
      text-transform: uppercase;
      color: @color_serene;
      margin-bottom: 35px;
    }

    &__form {
      &-field {
        color:    @color_text;
        padding-right: 25px;
        padding-left: 25px;
        float: left;
        .size(100%, 60px);
        border: 2px solid #e5e5e5;
        margin-bottom: 50px;

        &--modern {
          background-color: @bg_block;
          padding-left: 0;
          text-align: center;
          width: 160px;
          border-right: none;
          border-left: none;
        }
      }

      &-btn {
        color: @color_text;
        float: left;
        .size(60px, 60px);
        padding: 0;
        font-size: 50px;
        line-height: 1;
        padding-bottom: 5px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
      }

      & [type="text"] {
        display:block;
        font-size:18px;
      }

      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    @color_text;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    @color_text;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    @color_text;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    @color_text;
      }
    }

    &__table {
      display: inline-block;
      border-top:  2px solid #e5e5e5;
      width: 100%;
      padding-top: 30px;

      &--none {
        border-top: 0;
      }

      &-title {
        font-weight: 100;
        font-family: @regular;
        font-size: 14px;
        padding-bottom: 15px;
        text-transform: uppercase;
        color: @color_serene;
        padding-top: 25px;
      }

      &-col-1 {
        color:    @color_text;
        text-align: center;
        border:  2px solid #e5e5e5;
        border-right: none;
        width: 60px;
      }

      &-col-null {
        border: none;
      }

      &-field {
        padding-right: 25px;
        padding-left: 25px;
        .size(100%, 60px);
        border: none;
      }

      &-col-2 {
        border:  2px solid #e5e5e5;
      }

      &-col-3 {
        .hide;
      }

      .col-1--border {
        padding: 0;
        margin: 0;
      }
    }
  }

  &-achievements {
    &__title {
      font-weight: 100;
      font-family: @regular;
      font-size: 14px;
      padding-bottom: 35px;
      text-transform: uppercase;
      color: @color_serene;
      line-height: 1.3;
    }

    &__form {

      &-label {
        color: @color_text;
        font-family: @regular;
        font-size: 18px;
      }

      &-check {
        margin-bottom: 27px;
        .opacity(0);
        //display: none;
      }

      &-check:not(checkbox) +  &-label {
        position: relative; /* будем позиционировать псевдочекбокс относительно label */
        padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
      }

      &-check:not(checkbox) + &-label:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        .size(35px, 35px);
        background: #fff;
        border: 2px solid #e5e5e5;
      }

      &-check:checked + &-label:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 10px;
        .size(22px, 16px);
        background: url("@{dir}/check.png") no-repeat;
        .transition-all(.2s);
      }

      &-wrap {
        padding-bottom: 35px;
        display: block;
      }
    }
  }

  &-photo {
    &__wrap {
      background-color: @bg_block;
      padding-top: 35px;
      margin-bottom: 45px;
    }

    &__title {
      text-transform: uppercase;
      color: @color_serene;
      font-size: 14px;
      font-family: @regular;
      margin-bottom: 35px;
    }

    &__btn {
      font-family: @bold;
      text-transform: uppercase;
      color: @color_text;
      .size(100%, 60px);
      padding: 0;
      font-size: 18px;
      background-color: #fff;
      border: 2px solid #e5e5e5;
      margin-bottom: 30px;

      &--green {
        color: #fff;
        border: 2px solid #2aab6d;
        background-color: #2aab6d;
      }
    }

    & hr {
      display: block;
      border: none;
      border-top: 2px solid #e5e5e5;
      padding-bottom: 35px;
    }

    &__img {

      &-item {
        margin-bottom: 25px;
        position: relative;
        margin-right: 34px;
        display: inline-block;

        &--close {
          background: #fff;
          .size(30px, 30px);
          top: -20px;
          left: 50px;
          position: absolute;
          .rounded(50%);
          border: 2px solid #e5e5e5;

          .plus-mixin {
            .size(2px, 15px);
            position: absolute;
            background: #e5e5e5;
            left: 12px;
            top: 5.5px;
          }

          &:after {
            content: '';
            .rotate(45deg);
            .plus-mixin;
          }

          &:before {
            content: '';
            .rotate(-45deg);
            .plus-mixin;
          }
        }

        &:nth-child(3n+3) {
          margin: 0;
        }

        & img {
          margin-bottom: 10px;
          .size(68px, 68px);
        }

        &-title {
          text-transform: uppercase;
          font-size: 12px;
          display: block;
        }
      }
    }

    &__text {
      text-align: center;
      text-transform: uppercase;
      span {
        color: @color_serene;
      }
    }
  }
}

.page-footer {
  &__header {
    line-height: 1.5;
    padding-bottom: 40px;
  }

  &__block {
    .hide;
  }

  &__title {
    padding-bottom: 10px;
  }

  &__text {
    text-align: center;
    font-family: @light;
    font-size: 24px;
    padding-bottom: 30px;
    color: @color_serene;

    &-link {
      color: @color_serene;
      text-decoration: none;
    }
  }

  &__map {
    position: relative;
    display: block;

    &--angle {
        position: absolute;
        top: -2px;
        left: 0px;
        right: 0px;
        height: 70px;
        fill: #FFF;
        z-index: 50;
    }

    & iframe {
      .size(100%, 209px);
    }
  }

  &__img {
    display: block;
    .center;
    margin-bottom: 40px;

    &-logo {
      fill: @color_serene;
    }

    &-pink {
      fill: @color_text;
    }
  }

  &-logo-link {
    .size(100%, 100%);
    display: block;

    &:hover .page-footer__img-pink{
      fill: @color_serene;
    }

    &:active .page-footer__img-pink{
      fill: @color_text;
      .opacity(0.3);
    }
    &:active {
      .opacity(0.3);
    }
  }

  &__social {
    margin-bottom: 50px;

    &-list {
      text-align: center;
      display: block;
    }

    &__item {
      margin-right: 15px;
      display: inline-block;
      .size(50px, 50px);

      &:active  {
        .opacity(0.3);
      }

      a{
        padding-top: -10px;
        display: inline-block;
        .size(100%, 100%);
        border: 2px solid #e5e5e5;
        .rounded(50%);

        &:hover {
          border: 2px solid @color_text;
        }

        &:active {
          .opacity(0.3);
        }
      }

      &-tw {
        background: url("@{dir}/twitter.svg") no-repeat;
        background-position: center;
      }

      &-fb {
        background: url("@{dir}/facebook.svg") no-repeat;
        background-position: center;
      }

      &-inst {
        background: url("@{dir}/youtube.svg") no-repeat;
        background-position: center;
      }
    }
  }

  .copyright {
    margin-bottom: 50px;
    text-align: center;
  }

  &__developed {
    text-align: center;
    display: inline-block;
    color:    @color_text;
    margin-right: 10px;
    margin-top: 7px;
    vertical-align: top;
  }

  &__copyright-link {
    //background: url("@{dir}/htmlacademy.svg");
    fill: @color_serene;
    display: inline-block;
    vertical-align: top;

    &:hover {
      fill: @color_text;
    }

    &:active {
      .opacity(0.3);
    }
  }

  //.page-footer__index {
  //  .hide;
  //}
}

//Блог
.page-blog {
  margin-top: 40px;

  &-reviews{

    &__item {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid @bg_block;

      &:last-child {
        border-bottom: none;
      }

      &-header {
        line-height: 1.7;
        color: @color_text;
        text-align: left;
        font-family: @bold;
        font-size: 18px;
        margin-bottom: 10px;
      }

      &-date {
        color: @color_serene;
        text-transform: uppercase;
        font-family: @regular;
        font-size: 12px;
        margin-bottom: 20px;
      }

      &-text {
        line-height: 2;
        color: @color_text;
      }
    }

  }
  &__paginator {
    margin-bottom: 55px;
    text-align: center;

    &-item {
      margin-right: 6px;
      font-family: @bold;
      font-size: 18px;
      .size(60px, 60px);
      display: inline-block;

      &-link {
        border: 2px solid @bg_block;
        line-height: 3;
        display: inline-block;
        .size(100%, 100%);
        text-decoration: none;
        color: @color_text;

        &--active {
          border: 2px solid @color_serene;
        }
      }
    }
  }
}

//Пост
.page-post {
  margin-top: 35px;

  &-reviews {

    &__header {
      margin-bottom: 20px;
      line-height: 1.2;
      color: @color_text;
      font-family: @bold;
      font-size: 30px;
    }
    &__date {
      color: @color_serene;
      text-transform: uppercase;
      font-family: @regular;
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__text {
      border-bottom: 2px solid @bg_block;
      text-align: center;
      color: @color_text;
      line-height: 1.7;
      font-size: 16px;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    &__description {

      &-title {
        margin-bottom: 25px;
        text-align: left;
        color: @color_text;
        font-family: @bold;
        font-size: 18px;
        text-transform: uppercase;
      }

      &-text {
        color: @color_text;
        font-family: @regular;
        font-size: 14px;
        line-height: 2;
        margin-bottom: 40px;

        & a {
          color: @color_serene;
        }

        &-list {
          padding-left: 20px;
          color: @color_serene;
          list-style: disc;
        }

        &-item {
          margin-bottom: 35px;

          & span {
            color: @color_text;
          }
        }
      }
      &-citate {
        margin-bottom: 30px;
        display: block;
        color: @color_text;
        line-height: 2;
        padding-left: 20px;
        border-left: 1px solid @color_serene;

        & span {
          display: block;
          font-family: @italic;
          color: #aeaeae;
        }
      }
    }
  }
  &__paginator {
    margin-bottom: 55px;
    text-align: center;

    &-item {
      margin-bottom: 20px;
      text-transform: uppercase;
      padding-right: 20px;
      display: inline-block;
      font-family: @bold;
      font-size: 18px;
      .size(100%, 60px);

      &:nth-child(2+1) {
        padding-right:0;
      }

      &--back {
        .size(137px, 60px);
      }

      &--next {
        .size(137px, 60px);
      }

      &-link {
        line-height: 3;
        border: 2px solid @bg_block;
        display: inline-block;
        .size(100%, 100%);
        text-decoration: none;
        color: @color_text;

      }
    }
  }
}

@import "media.less";
