
@font-face {
  font-family: 'OpenSansBold';
  src: url('../img/opensans-bold.eot');
  src: url('../img/opensans-bold.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-bold.woff') format('woff'),
  url('../img/opensans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('../img/opensans-bolditalic.eot');
  src: url('../img/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-bolditalic.woff') format('woff'),
  url('../img/opensans-bolditalic.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSansExtraboldRegular';
  src: url('../img/opensans-extrabold.eot');
  src: url('../img/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-extrabold.woff') format('woff'),
  url('../img/opensans-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url('../img/opensans-extrabolditalic.eot');
  src: url('../img/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-extrabolditalic.woff') format('woff'),
  url('../img/opensans-extrabolditalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../img/opensans-italic.eot');
  src: url('../img/opensans-italic.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-italic.woff') format('woff'),
  url('../img/opensans-italic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansLightRegular';
  src: url('../img/opensans-light.eot');
  src: url('../img/opensans-light.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-light.woff') format('woff'),
  url('../img/opensans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../img/opensans-lightitalic.eot');
  src: url('../img/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-lightitalic.woff') format('woff'),
  url('../img/opensans-lightitalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../img/opensans-regular.eot');
  src: url('../img/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-regular.woff') format('woff'),
  url('../img/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansSemiboldRegular';
  src: url('../img/opensans-semibold.eot');
  src: url('../img/opensans-semibold.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-semibold.woff') format('woff'),
  url('../img/opensans-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('../img/opensans-semibolditalic.eot');
  src: url('../img/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
  url('../img/opensans-semibolditalic.woff') format('woff'),
  url('../img/opensans-semibolditalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url('../img/open_sans_condensed_light.eot');
  src: url('../img/open_sans_condensed_light.eot?#iefix') format('embedded-opentype'),
  url('../img/open_sans_condensed_light.woff') format('woff'),
  url('../img/open_sans_condensed_light.ttf') format('truetype'),
  url('../img/open_sans_condensed_light.svg#OpenSansCondensedLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
